.benefits {
  flex-direction: column;
  justify-content: space-evenly;
  background-color: $cl-gray-benefits;
  &__title {
    margin: 4rem 0 1rem 0;
  }
  &__body {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    height: fit-content;
    width: 50%;
    margin-left: 2rem;
    &-title {
      margin: 0 0 1rem 0;
    }
  }
  &__image {
    position: relative;
    min-width: 20rem;
    width: 40%;
    height: 23rem;
    & img {
      object-fit: contain;
      margin: 0 auto;
    }
  }
  &__call-to-action {
    margin: 2rem 0;
  }
  &__button {
    min-width: 15rem;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 1.5rem;
  }
  @media screen and (max-width: $breakpoint-tablet) {
    &__title {
      padding: 0 2rem;
      box-sizing: border-box;
      margin-top: 2rem;
    }
    &__body {
      flex-direction: column;
      width: 100%;
    }
    &__content {
      width: 90%;
      margin-left: 0;
    }
    &__accordion {
      width: 100%;
    }
    &__image {
      display: none;
    }
  }
}