.dropdown {
  position: relative;
  &__title {
    cursor: pointer;
    padding: 1rem;
    font-size: 1.2rem;
    color: $cl-white;
    &:hover + .dropdown__content {
      display: block;
      height: 12rem;
      opacity: 100;
    }
    &:hover > .dropdown__arrow {
      transform: rotate(180deg);
    }
  }
  &__arrow {
    color: $cl-white;
    display: inline-block;
    margin: 0 .5rem;
    transition-duration: 250ms;
  }
  &__content {
    position: absolute;
    height: 0;
    opacity: 0;
    overflow: hidden;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    border-radius: 15px;
    transition-duration: 500ms;
    padding: .5rem 1rem;
    background-color: $cl-white;
    min-width: 10rem;
    &:hover {
      display: flex;
      height: 12rem;
      opacity: 100;
    }
  }
  &__item {
    padding: .5rem;
  }
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    &:hover {
      color: $cl-softGray;
    }
  }
  @media screen and (max-width: $breakpoint-tablet) {
    width: 100%;
    &__title {
      display: none;
    }
    &__content {
      position: relative;
      height: 100%;
      top: 0;
      min-height: 20rem;
      width: 100%;
      color: $cl-white;
      background-color: $cl-black;
      opacity: 100;
      animation: none;
      font-size: 2.5rem;
      &:hover {
        display: initial;
        height: initial;
        opacity: initial;
      }
    }
    &__link {
      color: $cl-white;
      margin: 1rem 0;
      text-align: center;
    }
  }
}