.dropdown {
  position: relative;
  &__title {
    cursor: pointer;
    padding: 1rem;
    font-size: 1.2rem;
    color: $cl-white;
    &:hover + .dropdown__content {
      display: block;
      height: 12rem;
      opacity: 100;
    }
    &:hover > .dropdown__arrow {
      transform: rotate(180deg);
    }
  }
  &__arrow {
    color: $cl-white;
    display: inline-block;
    margin: 0 .5rem;
    transition-duration: 250ms;
  }
  &__content {
    position: absolute;
    height: 0;
    opacity: 0;
    overflow: hidden;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    border-radius: 15px;
    transition-duration: 500ms;
    padding: .5rem 1rem;
    background-color: $cl-white;
    min-width: 10rem;
    &:hover {
      display: flex;
      height: 12rem;
      opacity: 100;
    }
  }
  &__item {
    padding: .5rem;
  }
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    &:hover {
      color: $cl-softGray;
    }
  }
  @media screen and (max-width: $breakpoint-tablet) {
    display: block;
    &__title {
      display: none;
    }
    &__content {
      position: relative;
      height: auto;
      width: 100%;
      color: $cl-white;
      background-color: transparent;
      opacity: 100;
      animation: none;
      font-size: 2.5rem;
      box-sizing: border-box;
      &:hover {
        display: flex;
        height: auto;
        opacity: initial;
      }
    }
    &__item {
      margin: .5rem 0;
    }
    &__link {
      color: $cl-white;
      text-align: center;
    }
  }
  @media screen and (max-width: $breakpoint-mobile) {
    &__content {
      min-height: 15rem;
      font-size: 1.5rem;
    }
  }
}