.faqs {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 30rem;
  &__accordion {
    margin: 0 auto;
    width: 35%;
  }
  &__title {
    height: 5rem;
    margin-top: 3rem;
  }
  &__title-sub {
    border-bottom: 5px solid $cl-black;
  }
  @media screen and (max-width: $breakpoint-tablet) {
    &__accordion {
      width: 80%;
    }
  }
  @media screen and (max-width: $breakpoint-mobile) {
    &__accordion {
      width: 85%;
    }
  }
} 