.header {
  position: sticky;
  top: 0;
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  height: $headerHeight;
  justify-content: space-between;
  align-items: center;
  transition-duration: 500ms;
  z-index: 99;
  background-color: black;
  &--transparent {
    position: fixed;
    background-color: transparent;
  }
  &--black {
    position: fixed;
    background-color: black;
  }
  &__nav {
    display: flex;
    align-items: center;
    height: calc(#{$headerHeight} / 2);
  }
  &__session-controls {
    min-width: 20rem;
  }
}