.logo {
  position: relative;
  display: flex;
  max-width: 12rem;
  align-items: center;
  justify-content: center;
  &__image {
    position: relative;
    min-width: 4rem;
    min-height: 4rem;
    background-color: $cl-white;
    border-radius: 50%;
    overflow: hidden;
  }
  &__brand-name {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0 .5rem;
    color: $cl-white;
  }
  &--black {
    & .logo {
      &__brand-name {
        color: $cl-black;
      }
    }
  }
  @media screen and (max-width: $breakpoint-tablet) {
    &__brand-name {
      display: none;
    }
    &--black {
      & .logo {
        &__brand-name {
          display: block;
        }
      }
    }
  }
  @media screen and (max-width: $breakpoint-mobile) {
    &__image {
      min-width: 3rem;
      min-height: 3rem;
    }
    &--black {
      & .logo {
        &__brand-name {
          font-size: 1.3rem;
        }
        &__image {
          min-width: 5rem;
          min-height: 5rem;
        }
      }
    }
  }
}