.modules {
  flex-direction: column;
  &__title {
    align-self: flex-start;
    margin-left: 2rem;
    margin-top: 1rem;
    &-bar {
      border-bottom: 5px solid $cl-black;
      width: 38%;
    }
    &-main {
      margin: 0;
      font-size: 1.2rem;
    }
  }
  &__accordion {
    margin: 0;
    padding: 2rem;
    box-sizing: border-box;
  }
  @media screen and (max-width: $breakpoint-tablet) {
    &__accordion {
      height: 48rem;
    }
  }
}