.profile-menu {
  &__selector {
    display: flex;
    align-items: center;
    &:hover + .profile-menu__options {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 22rem;
    }
  }
  &__picture {
    position: relative;
    width: 3rem;
    height: 3rem;
  }
  &__options {
    right: 1rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: $cl-gray-benefits;
    padding: 0 1rem;
    &:hover {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 22rem;
    }
  }
  &__options-picture {
    position: relative;
    width: 4rem;
    height: 4rem;
  }
  &__button {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: .5rem;
  }
  &__names, &__last-names, &__username {
    margin: .5rem 0;
  }
  &__logout {
    color: $cl-red;
    margin-top: .5rem;
    font-size: 1.2rem;
  }
  @media screen and (max-width: $breakpoint-tablet) {
    height: 100%;
    position: relative;
    &__selector {
      display: none;
    }
    &__options {
      background-color: transparent;
      display: block;
      text-align: center;
      height: 100%;
      justify-content: space-evenly;
      overflow-y: scroll;
      padding: 5rem 0;
      right: 0;
      & * {
        margin-bottom: 1rem;
      }
      &:hover {
        height: 100%;
        display: block;
      }
    }
    &__options-picture, &__button {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}