.social-media {
  flex-direction: column;
  justify-content: space-evenly;
  &__title {
    font-size: 1.5rem;
  }
  &__title-sub {
    border-bottom: 5px solid $cl-black;
  }
  &__cards {
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    & > .social-card {
      width: 23%;
    }
  }
  @media screen and (max-width: $breakpoint-tablet) {
    padding: 4rem 0;
    &__title {
      align-self: flex-start;
      padding: 0 2rem;
      font-size: 1rem;
      text-align: start;
    }
  }
}