
// Variables globales
@import "./common/fonts.scss";
@import "./common/colors.scss";
@import "./common/sizes.scss";

// Estilos comunes
.image {
  position: absolute;
  position: absolute;
  object-fit: contain;
  object-position: center;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  visibility: inherit;
  left: 0;
  bottom: 0;
  top: 0;
  bottom: 0;
  display: block;
  inset: 0px;
}

.target {
  position: absolute;
  top: 0;
  margin-top: -$headerHeight;
}
.link {
  text-decoration: none;
  color: $cl-black;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  &:hover {
    text-decoration: underline;
  }
}

.button {
  background-color: $cl-yellow;
  font-family: inherit;
  padding: .5rem .5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition-duration: 200ms;
  min-width: 7rem;
  border: 1px solid $cl-yellow;
  &:hover {
    background-color: $cl-yellow-hover;
    border-color: $cl-yellow-hover;
  }
}

// Componentes
@import "./components/logo.scss";
@import "./components/dropdown.scss";
@import "./components/session-controls.scss";
@import "./components/header.scss";
@import "./components/section.scss";
@import "./components/presentation.scss";
@import "./components/title.scss";
@import "./components/benefits.scss";
@import "./components/accordion.scss";
@import "./components/modules.scss";
@import "./components/module-abstract.scss";
@import "./components/storie.scss";
@import "./components/customer-stories.scss";
@import "./components/faqs.scss";
@import "./components/author-presentation.scss";
@import "./components/social-card.scss";
@import "./components/social-media.scss";
@import "./components/contact-form.scss";
@import "./components/form.scss";
@import "./components/footer.scss";
@import "./components/course-view.scss";
@import "./components/user-review.scss";
@import "./components/stars.scss";
@import "./components/profile-menu.scss";

body {
  font-family: $avenirPro;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
main {
  overflow-x: hidden;
}
